@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-source text-dm-body bg-white;
  }

  h1, h2 {
    @apply font-cinzel font-normal;
  }

  h3 {
    @apply font-source font-normal;
  }
}
